<?xml version="1.0" encoding="UTF-8"?>
<web-app>
  
	<servlet>
		<servlet-name>
			adding
		</servlet-name>
		
		<servlet-class>
			com.arithmetic.SimpleAddition
		</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>
			adding
		</servlet-name>
		
		<url-pattern>
			/add
		</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>
			arithmetic
		</servlet-name>
		
		<servlet-class>
			com.arithmetic.SimpleArithmetic
		</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>
			arithmetic
		</servlet-name>
		
		<url-pattern>
			/arithmetic
		</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>
			subtract
		</servlet-name>
		
		<servlet-class>
			com.arithmetic.SimpleSubtraction
		</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>
			subtract
		</servlet-name>
		
		<url-pattern>
			/subtraction
		</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>
			multiply
		</servlet-name>
		
		<servlet-class>
			com.arithmetic.SimpleMultiplication
		</servlet-class>
	</servlet>
	
	
	<servlet-mapping>
		<servlet-name>
			multiply
		</servlet-name>
		
		<url-pattern>
			/multiplication
		</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>
			divide
		</servlet-name>
		
		<servlet-class>
			com.arithmetic.SimpleDivision
		</servlet-class>
	</servlet>
	
	
	<servlet-mapping>
		<servlet-name>
			divide
		</servlet-name>
		
		<url-pattern>
			/division
		</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>
			square
		</servlet-name>
		
		<servlet-class>
			com.arithmetic.SimpleSumSquare
		</servlet-class>
	</servlet>
	
	
	<servlet-mapping>
		<servlet-name>
			square
		</servlet-name>
		
		<url-pattern>
			/square
		</url-pattern>
	</servlet-mapping>
	
</web-app>